<section class="section has-fadein">
  <div class="container">
    <h1 class="title">Sitemap</h1>
    <div class="content">
      <ul>
        <!-- Home Route -->
        <li>Home</li>
        <ul>
          <li><a routerLink="/">Homepage</a></li>
          <li><a routerLink="/sitemap">Sitemap</a></li>
        </ul>

        <!-- Setup Guides -->
        <li>Setup Guides</li>
          <ul>
            <li><a routerLink="/guides/authentication-with-jwt">Authentication with JWT Guide</a></li>
            <li><a routerLink="/guides/cloud-database-service-with-mongodb-atlas">MongoDB Atlas Guide</a></li>
            <li><a routerLink="/guides/cloud-storage-with-amazon-s3">Amazon S3 Guide</a></li>
            <li><a routerLink="/guides/deploy-with-heroku">Deploying to Heroku</a></li>
            <li><a routerLink="/guides/deploy-with-aws">Deplying to AWS</a></li>
            <li><a routerLink="/guides/deploy-with-now">Deploying to Now</a></li>
          </ul>
          
          <!-- Bonus Guides -->
        <li>Bonus Guides</li>
          <ul>
            <li><a routerLink="/guides/stripe-payment-api-integration">Stripe Payment API Integration</a></li>
            <li><a routerLink="/guides/angular-universal-setup">Angular Universal Setup</a></li>
            <li><a routerLink="/guides/search-engine-optimization-and-social-media">SEO and Social Media</a></li>
          </ul>

        <!-- Books API -->
        <li>Books API</li>
          <ul>
            <li><a routerLink="/books">Display books</a></li>
            <li><a routerLink="/books/create">Create Book</a></li>
            <li>Edit Book</li>
            <li>Update Book</li>
          </ul>

        <!-- Authentication Routes -->
        <li>Authentication Routes</li>
          <ul>
            <li><a routerLink="/users/register">Register</a></li>
            <li><a routerLink="/users/login">Login</a></li>
            <li><a routerLink="/users/edit-profile">Edit Profile</a></li>
          </ul>
        
      </ul>
    </div>
  </div>
</section>

