// Custom styles
.intro {
  margin-bottom: 3rem;
  text-align: center;
}

.marginTopHeroku {
  padding-top: 2rem;
}

.marginTopNow {
  padding-top: 1rem;
}

// ************
// Image Styles
// ************
.centerImg {
  display: block;
  margin: 0 auto;
}

.mongoStyle {
  padding: 3.1rem 1rem;
}

.awsS3Style {
  padding-top: 1.7rem;
}

.herokuStyle {
  padding-top: 1.5rem;
}

.awsStyle {
  padding: 1.5rem;
}

.nowStyle {
  margin: 1rem;
}