// Tag Centering
.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: center;
}

// Left margin
.marginLeft {
  margin-left: 30px;
}

// Makes image round
.roundImage {
  margin-left: 10px;
  border-radius: 2018px;
}

// *************
// GITHUB CORNER
// *************
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }
  20%,
  60% {
    transform: rotate(-25deg)
  }
  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
