<!-- Social Media Share Buttons -->
<hr class="{{ color }}HR">
<div class="textCenter" *ngIf="navigatorSwitch">

  <!-- Facebook -->
  <a class="button is-rounded facebook margin3" shareButton="facebook">
    <div class="content has-text-light">
      <span class="icon"><i class="fab fa-facebook"></i></span><span>Share</span>
    </div>
  </a>

  <!-- Twitter -->
  <a class="button is-rounded twitter marginSide" shareButton="twitter">
    <div class="content has-text-light">
      <span class="icon"><i class="fab fa-twitter"></i></span><span>Tweet</span>
    </div>
  </a>

  <!-- Google+ -->
  <a class="button is-rounded google marginSide" shareButton="google">
    <div class="content has-text-light">
      <span class="icon"><i class="fab fa-google-plus-g"></i></span><span>Post</span>
    </div>
  </a>

  <!-- LinkedIn -->
  <a class="button is-rounded linkedIn marginSide" shareButton="linkedin">
    <div class="content has-text-light">
      <span class="icon"><i class="fab fa-linkedin"></i></span><span>Link</span>
    </div>
  </a>

  <!-- Pinterest -->
  <a class="button is-rounded pinterest marginSide" shareButton="pinterest">
    <div class="content has-text-light">
      <span class="icon"><i class="fab fa-pinterest"></i></span><span>Pin</span>
    </div>
  </a>

</div>