<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>MEAN Stack Full Starter Template &copy; 2018</strong> by
        <a href="http://www.stanleyeosakul.com" target="_blank">Stanley Eosakul</a>. Source code licensed by
        <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>.
      </p>
      <a routerLink="/sitemap" class="button is-text has-text-link is-size-5">Sitemap</a><br>
      <a href="https://bulma.io/alternative-to-bootstrap/" target="_blank">
        <img src="https://bulma.io/images/made-with-bulma.png" width="150" alt="Made with Bulma">
        <p><span class="content has-text-grey">An alternative to <strong>Bootstrap</strong></span></p>
      </a>
    </div>
  </div>
</footer>
