// ******************************
// CUSTOMIZE BULMA AND EXTENSIONS
// ******************************
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
$danger: #b52e31;
$danger-invert: findColorInvert($danger);
$body-background-color: $white-bis;
@import '~bulma';
@import '~bulma-extensions/bulma-tooltip/dist/bulma-tooltip';
@import '~bulma-extensions/bulma-pageloader/dist/bulma-pageloader';

// ************
// Image Styles
// ************
.image-border {
   display:inline-block;
   position:relative;
   border:1px solid #ccc;
   padding:5px;
   background:#f2f2f2;
   margin-bottom:30px;
}

.image-shadow {
   -webkit-box-shadow: 0 28px 16px -26px rgb(0, 0, 0);
   -moz-box-shadow: 0 28px 16px -26px rgb(0, 0, 0);
   box-shadow: 0 28px 16px -26px rgb(0, 0, 0);
}

.image-center {
  margin: 0 auto;
  display: block;
}

/* ********* */
/* HR STYLES */
/* ********* */
.redHR { 
  border: 0;
  height: 2px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(186, 46, 49, 1), rgba(0, 0, 0, 0)); 
}

.blueHR { 
  border: 0;
  height: 2px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(50, 115, 220, 1), rgba(0, 0, 0, 0)); 
}

.purpleHR { 
  border: 0;
  height: 2px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), 	rgba(101, 103, 165, 1.0), rgba(0, 0, 0, 0)); 
}

.orangeHR { 
  border: 0;
  height: 2px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), 	rgba(255, 153, 0, 1.0), rgba(0, 0, 0, 0)); 
}

.greenHR { 
  border: 0;
  height: 2px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), 	rgba(60, 191, 58, 1.0), rgba(0, 0, 0, 0)); 
}

.blackHR { 
  border: 0;
  height: 2px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); 
}

/* **************** */
/* CODEBLOCK STYLES */
/* **************** */
code {
  color: black;
  background-color: #eee;
}

.command-body {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #eff4f7;
  border-radius: 3px;
  color: black;
  margin-top: 15px;
}

.no-dot {
  list-style-type: none;
}

/* **************** */
/* Fadein Animation */
/* **************** */
.has-fadein {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
      animation: fadein 1s;
}

// ************************
// Keyframes for animations
// ************************

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

// Firefox < 16
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

// Safari, Chrome and Opera > 12.1
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

// Internet Explorer
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

// Opera < 12.1
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}